<h1>Images here</h1>
<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <p> This should go in the sidebar </p>
    </div>
    <div id="content" class="col-xs-9">
      <p> This is the main content </p>
    </div>
  </div>
</div>
